.hero .container {
    display: flex;
    align-items: center;
}

.hero__text {
    flex: 2;
    order: 1;
    text-align: left;
}

.container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

h1 {
    font-size: 3.25rem;
}

p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

.hero__image {
    flex: 1;
    order: 2;
    height: 41rem;
    background-image: none;
    background-position: left center;
}

.student__image {
    width: 600px;
    padding-top: 7rem;
    margin-right: -2.4rem;
}

.feature__intro h2 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.button-gren-padding {
    position: relative;
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    /* background-image: linear-gradient(to right, #f4e81f, #fe05ce); */
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
    color: white;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
}

.feature {
    background-color: #f3f4f6;
    text-align: center;
    padding: 0.5rem;
    padding: 1rem;
}

.feature {
    text-align: left;
}

.feature__item {
    flex: 1;
    padding: 0.4rem;
}

.feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.feature__grid {
    display: flex;
    flex-wrap: wrap;
}

.feature__icon {
    margin-bottom: 2.5rem;
}

.feature__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #9698a6;
}

p {
    color: #9698a6;
}