.root-create-pet {
    flex-grow: 1;
    padding-top: 5rem;
    padding-bottom: 4rem;
    text-align: center;
    width: 500px;
}

.pet {
    text-align: center;
}

.input {
    display: 'none';
}

.form-container {
    border: 1px solid #0000003d;
}

form {
    padding: 1rem;
}

.img-preview {
    width: 350px;
    padding-bottom: 1rem;
}

.text-field {
    padding-bottom: 1rem;
}

.image-label {
    padding-right: 12.5rem;
    color: #7e7d80;
}