.page-community {
    flex-grow: 1;
    min-height: 80vh;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.grid-rigth-side {
    text-align: right;
}

.page-wallet-address {
    padding-top: 1rem;
}

.page-metadata {
    text-align: justify;
    padding-top: 2rem;
    width: 80%;
    margin-left: 7rem;
}

.orange {
    background-color: orange;
    color: white;
    font-weight: 700;
}

.green {
    background-color: rgb(49, 174, 7);
    color: white;
    font-weight: 700;
}