.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.imageList {
    width: 500;
    height: 450;
}

.icon {
    color: 'rgba(255, 255, 255, 0.001)';
}

.view-btn {
    text-transform: capitalize;
    border-color: #9d9e9b;
}

.gridList {
    width: 500;
    height: 700;
}

.nft-img {
    width: 180px;
    vertical-align: middle;
}

.container-flex {
    display: flex;
}

.inner2 {
    flex-grow: 2;
}

.inner1 {
    flex-grow: 1;
    text-align: end;
}

.project-description {
    margin-bottom: 2.1rem;
}

.card-padding {
    padding: 1rem;
    border-bottom: 1pt solid #00000026;
}